<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="acControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <acControl.Properties.Settings>
            <setting name="BatLimit" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ACMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DisplayMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GPUMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DisplayOver" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxRefreshRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StartOnBoot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartMini" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimalGUI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="multiZone" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="xgMobileLED" serializeAs="String">
                <value>True</value>
            </setting>
        </acControl.Properties.Settings>
    </userSettings>
</configuration>